<%- include("./partial/head") %> 

    <header class="header">
        <div class="header__block">
            <h1 class="header__block-title">Home Page</h1>
            <h2 class="header__block-subtitle"><%= date %></h2>
        </div>
        <%- include("./component/nav") %> 
    </header>

    <main class="main">

        <% products.forEach(product => { %>
            <p>
                <%= product.product_user.firstname.toUpperCase() %> 
                utilise un.e  <a href="/product/<%= product.id %> " class="main__link"><%= product.name.toUpperCase() %></a>
                pour <%= product.product_function.name.toUpperCase() %>
            </p>
            <br>
        <% }) %>
        <br>

    </main>
<%- include("./partial/footer") %>
<%- include("./partial/end") %>