<%- include("./partial/head")  %> 

    <header class="header">
        <div class="header__block">
            <h1 class="header__block-title">Home Page</h1>
        </div>
        <%- include("./component/nav")  %> 
    </header>
    <main class="main">

    <% products.forEach(product => { %>
        <p>
            <%= product.product_user.firstname.toUpperCase() %> 
            utilise un.e <%= product.name.toUpperCase() %> 
            pour <%= product.product_function.name.toUpperCase() %>
        </p>
        <br>
    <% }) %>

    <br>

    </main>
    <footer class="footer">
        <p>Orvoir</p>
    </footer>

<%- include("./partial/footer")  %> 