<%- include("./partial/head") %> 

    <header class="header">
        <div class="header__block">
            <h1 class="header__block-title">Page d'un produit</h1>
        </div>
        <%- include("./component/nav") %> 
    </header>

    <main class="main">

        <% if (locals.error) { %>
            <p class="error"><%= error %></p>
        <% } %>

        <% if (!locals.error) { %>
            <%= oneProduct.name %>
        <% } %>

    </main>
<%- include("./partial/footer") %>
<%- include("./partial/end") %>