<%- include("./partial/head")  %> 

    <header class="header">
        <div class="header__block">
            <h1 class="header__block-title">Home Page</h1>
        </div>
        <%- include("./component/nav")  %> 
    </header>

    <main class="main">

        <p><%= product.name %> </p>

    </main>
<%- include("./partial/foot")  %> 
<%- include("./partial/footer")  %> 